@model CharacterClassCreateEditViewModel

@{
    ViewData["Title"] = "Редактирование класса";
}

<h1>Редактирование класса</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Имя</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strength" class="control-label">Сила</label>
                <input asp-for="Strength" class="form-control" />
                <span asp-validation-for="Strength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agility" class="control-label">Ловкость</label>
                <input asp-for="Agility" class="form-control" />
                <span asp-validation-for="Agility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}