@model CharacterListViewModel

@{
    ViewData["Title"] = "Персонажи";
}

<h1>Персонажи</h1>

<p>
    <a asp-action="Create">Создать нового персонажа</a>
</p>

<form asp-controller="Characters" asp-action="Index" method="get">
    <p>
        <input type="text" name="searchString" placeholder="Поиск по имени..." />
        <input type="submit" value="Поиск" />
        <button type="submit" asp-action="Index">Сбросить</button>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Characters)
        {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
        }
    </tbody>
</table>